#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        BOOTLDR {
            bindings = <&bootloader>;
            key-positions = <39 40 41 11>;
        };

        RESET_K {
            bindings = <&sys_reset>;
            key-positions = <39 40 41 23>;
        };

        OFFPWR {
            bindings = <&soft_off>;
            key-positions = <39 40 41 35>;
        };
    };

    behaviors {
        queston_tap: queston_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "QUESTON_TAP";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp LS(SLASH)>, <&kp RIGHT_SHIFT>;
        };

        LAYER_TOGGLES: LAYER_TOGGLES {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TOGGLES";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
&kp ESCAPE  &kp Q     &kp W     &kp E           &kp R  &kp T  &kp Y      &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp TAB     &kp A     &kp S     &kp D           &kp F  &kp G  &kp H      &kp J      &kp K      &kp L     &kp SQT   &kp RET
&kp LSHFT   &kp Z     &kp X     &kp C           &kp V  &kp B  &kp N      &kp M      &kp COMMA  &kp DOT   &kp UP    &queston_tap
&kp LCTRL   &kp LALT  &kp LGUI  &LAYER_TOGGLES  &mo 2  &mo 3  &kp SPACE  &kp SPACE  &kp SPACE  &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        NUM+extra {
            bindings = <
&kp N1      &kp NUMBER_2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9     &kp N0     &kp MINUS         &kp EQUAL
&kp DELETE  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans      &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans            &trans
&trans      &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans     &trans            &trans
            >;
        };

        layer_3 {
            bindings = <
&kp LS(N1)    &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)     &kp LS(N0)     &trans  &trans
&kp CAPSLOCK  &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp LS(MINUS)  &kp LS(EQUAL)  &trans  &trans
&trans        &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans         &trans         &trans  &trans
&trans        &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans         &trans         &trans  &trans
            >;
        };

        Functions {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4      &kp F5       &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11            &kp F12
&trans  &trans  &trans  &trans      &trans       &trans  &trans  &trans  &trans  &trans   &out OUT_TOG       &trans
&trans  &trans  &trans  &kp K_COPY  &kp K_PASTE  &trans  &trans  &trans  &trans  &trans   &kp C_VOLUME_UP    &trans
&trans  &trans  &trans  &trans      &trans       &trans  &trans  &trans  &trans  &trans   &kp C_VOLUME_DOWN  &trans
            >;
        };
    };
};

